---
---

$bg-color: #0a0820;
$bg-blur: 3px;

$textcolor: #F0F0F0;
$button: #FFFFFF;
$button-hover: #CCCCCC;

@font-face {
    font-family: Sofachrome;
    src: url(/fonts/sofachrome.ttf);
}

@font-face {
    font-family: audimat;
    src: url(/fonts/audimat/AUdimat.otf);
}

#main {
    top: 40px;
    left: 30px;
    right: 30px;
    padding: 10px;
    max-width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-width:2px;
    border-color: $textcolor;
    border-radius: 10px;
}

#footer-links li{
    text-align: left;
    list-style-type: none;
}

body {
    font-family: audimat;
    color: $textcolor;
    padding: 10px;
    margin: 0;
    background-color: $bg-color;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #eee;
    text-decoration: underline;
}

header {
    font-family: Sofachrome;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-family: Sofachrome, sans-sarif;
    margin: 0;
}

h2 {
    font-family: Sofachrome, sans-sarif;
    margin: 0;
}
#navbar{
    text-align: center;
    display: table;
    margin: auto;
    padding: 2px;
    //background: #888888;
    border-style: solid;
    border-radius:17px;
    border-width: 2px;
}

.navitem{
    white-space: nowrap;
    text-align: center;
    margin: auto;
    display:inline-block;
    height:20px;
    font-family: Sofachrome, sans-sarif;
    text-decoration: none;
    background: $button;
    padding: 2px 10px;
    margin: 2px;
    border-radius: 30px;
    color: #333333;
}

.navitem:hover {
    text-decoration: none;
    background: $button-hover;
    color: #555555;
}

footer {
    font-size: 1em;
    text-align: center;
}

.content {
    padding: 5px;
    clear:both;
    overflow:none;
}

.twitter-timeline{
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 100px;
    float:right;
}

@media not handheld {
    body{
        background-image: url('/img/starfield.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
}
@media handheld {
    body{
        background-image:none;
    }
}

