---
---

$bg-color: #0a0820;
$bg-blur: 3px;

$textcolor: #F0F0F0;
$button: #FFFFFF;
$button-hover: #CCCCCC;

@font-face {
    font-family: Sofachrome;
    src: url(/fonts/sofachrome.ttf);
}

@font-face {
    font-family: audimat;
    src: url(/fonts/audimat/AUdimat.otf);
}

header {
    font-family: Sofachrome;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
}

h1, h2, h3, h4{
    font-family: Sofachrome, sans-serif;
    margin: 0;
    clear: both;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 0.8em;
}

@media (max-width: 400px) {
    #title {
        font-size: 1.5em;
    }
}

#page-heading {
    text-align:center;
    font-size: 1.5em;
    margin: 10px;
}

@media (max-width: 400px) {
    #page-heading {
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    .post-link {
        font-size:1em;
    }
}

#page-info {
    text-align: center;
    margin: 5px;
}

#post-list {

}

.post-excerpt {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: $textcolor;
    border-radius: 10px;
}

body {
    font-family: audimat;
    color: $textcolor;
    padding: 10px;
    margin: 0;
    background-color: $bg-color;
    background-image: url('/img/starfield.jpg');
    background-size: cover;
    background-attachment: fixed;

    a {
        color: #ccc;
        text-decoration: none;
    }

    a:hover {
        color: #eee;
        text-decoration: underline;
    }
}

#main {
    top: 40px;
    left: 30px;
    right: 30px;
    padding: 10px;
    max-width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-width:2px;
    border-color: $textcolor;
    border-radius: 10px;
}

#navbar {
    text-align: center;
    display: table;
    margin: auto;
    padding: 2px;
    //background: #888888;
    border-style: solid;
    border-radius: 17px;
    border-width: 2px;

    a {
        white-space: nowrap;
        text-align: center;
        margin: auto;
        display: inline-block;
        height: 20px;
        font-family: Sofachrome, sans-serif;
        text-decoration: none;
        background: $button;
        padding: 2px 10px;
        margin: 2px;
        border-radius: 30px;
        color: #333333;
    }

    a:hover {
        text-decoration: none;
        background: $button-hover;
        color: #555555;
    }
}

footer {
    font-size: 1em;
    text-align: center;
}

#footer-links {
    float: left;
    display: inline-block;
    width: 200px;
    li {
        text-align: left;
        list-style-type: none;
    }
}

#footer-info {
    max-width: 300px;
    text-align:right;
    height: 100px;
    float:right;
}

.float-right {
    text-align: right;
    margin: 10px;
    float: right;
}

.float-left {
    text-align: left;
    margin: 10px;
    float: left;
}

@media (max-width: 600px) {
    .float-left, .float-right {
        width: 100%;
        margin: auto;
        text-align: center;
        display: inline-block;
        float: none;
    }
    #footer-info, #footer-links{
        clear: both;
        float: none;
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    body {
        background-image: none;
    }
    #main {
        margin-top: 0;
    }
}

