---
---

$bg-color: #0a0820;
$bg-blur: 3px;

$textcolor: #F0F0F0;
$button: #FFFFFF;
$button-text: #333333;
$button-hover: #00DDDD;
$button-hover-text: #FFFFFF;

$link: #CCCCCC;
$link-hover: #00DDDD;

$title-fonts: SquarishSans, sans-serif;
$body-fonts: Montserrat, sans-serif;

$engine-blue: #00DDDD;

@font-face {
    font-family: SquarishSans;
    src: url(/fonts/Squarish_Sans_CT_Regular_SC.ttf);
}

@font-face {
    font-family: audimat;
    src: url(/fonts/audimat/AUdimat.otf);
}


header {
    font-family: $title-fonts;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
}

h1, h2, h3, h4{
    font-family: $title-fonts;
    margin: 0;
    clear: both;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 0.8em;
}

#page-heading {
    text-align:left;
    font-size: 1.5em;
    margin: 10px;
}

hr {
    clear: both;
}

@media (max-width: 400px) {
    #title {
        font-size: 1.5em;
    }

    #page-heading {
        font-size: 1em;
    }

    #page-info {
        font-size: 0.8em;
    }

    .post-link {
        font-size:1em;
    }
}

#page-info {
    text-align: left;
    margin: 5px;
}

.post-excerpt {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: $textcolor;
    border-radius: 10px;
}

.rss-link-center {
    text-align: center;
    clear: both;
    margin: auto;
}

body {
    font-family: Montserrat;
    color: $textcolor;
    padding: 10px;
    margin: 0;
    background-color: $bg-color;
    background-image: url('/img/starfield.jpg');
    background-size: cover;
    background-attachment: fixed;

    a {
        color: $link;
        text-decoration: none;
    }

    a:hover {
        color: $link-hover;
        text-decoration: underline;
    }

    a:active {
        color: $link-hover;
        text-decoration: underline;
    }
}

#main {
    top: 40px;
    left: 30px;
    right: 30px;
    padding: 10px;
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-width:2px;
    border-color: $textcolor;
    border-radius: 10px;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
}

#disqus_thread {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

#navbar {
    text-align: center;
    display: table;
    margin: auto;
    padding: 2px;
    border-style: solid;
    border-radius: 17px;
    border-width: 2px;

    a {
        text-decoration: none;
        background: $button;
        color: $button-text;

        text-align: center;
        display: inline-block;

        height: 20px;
        padding: 2px 10px;
        margin: 2px;
        border-radius: 30px;

        white-space: nowrap;
        font-family: SquarishSans, sans-serif;
    }

    a:hover {
        text-decoration: none;
        background: $button-hover;
        color: $button-hover-text;
    }

    a:active {
        text-decoration: none;
        background: $button-hover;
        color: $button-hover-text;
    }
}

footer {
    font-size: 1em;
    text-align: center;
}

#footer-links {
    float: left;
    display: inline-block;
    width: 250px;
    li {
        text-align: left;
        list-style-type: none;
    }
}

#footer-info {
    max-width: 400px;
    text-align:right;
    float:right;
}

.float-right {
    text-align: right;
    margin: 10px;
    float: right;
}

.float-left {
    text-align: left;
    margin: 10px;
    float: left;
}

.image {
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
    max-width: 100%;

    img {
        max-height: 300px;
        max-width: 100%;
        
        border-radius: 30px;
    }
    figcaption {
        font-style: italic;
    }
}

@media (max-width: 600px) {
    .float-left, .float-right {
        width: 100%;
        margin: auto;
        text-align: center;
        display: inline-block;
        float: none;
    }
}
@media (max-width: 700px) {
    #footer-info, #footer-links{
        clear: both;
        float: none;
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    body {
        background-image: none;
    }
    #main {
        margin-top: 0;
    }
}

