---
layout: default
title: Dev-Blog
permalink: devblog/
---

<h2 id="page-heading"> Development Blog </h2>

<div id="post-list">
    {% for post in site.posts %}
        <div class="post-excerpt">
            <h3 class="post-link">
                <a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
            {% if post.thumb %}
                <img
                    class="post-thumb" 
                    src="/img/{{ post.post }}/{{ post.thumb }}" 
                    alt="{{ post.title }}">
            {% endif %}
            {{ post.excerpt | strip_html | truncatewords: 150 }}
            <a href="{{ post.url | prepend: site.baseurl }}">read more</a>

        </div>

    {% endfor %}

</div>

<div class="rss-link-center"><a href="/feed.xml"><i class="fa fa-rss"></i>RSS Feed</a></div>
