<footer>
    <hr>
    <div id="footer-links">
        <ul>
            <li>
                <i class="fa fa-twitter"></i> <a href="http://twitter.com/voxelgon">Twitter</a>
            </li>
            <li>
                <i class="fa fa-github"></i> <a href="http://github.com/voxelgon">Github</a>
            </li>
            <li>
                <i class="fa fa-comments-o"> </i> <a href="http://webchat.sublumin.al/?channels=voxelgon">IRC on Subluminal</a>
            </li>
            <li>
                <i class="fa fa-envelope-square"> </i> <a href="mailto:voxelgonGame@gmail.com">Email</a>
            </li>
            <li>
                <i class="fa fa-paypal"></i> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=S6NCVXY76YLHN&lc=US&item_name=Voxelgon&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted">Donate</a>
            </li>
        </ul>
    </div>

    <div id="footer-info">
        <p><i> &copy 20{{ site.time | date: '%y' }} Andrew Cassidy All Rights Reseved </i></p>
        <a href="http://andrewcassidy.me"> www.AndrewCassidy.me </a>
    </div>

    <div style="clear: both"></div>
</footer>

