<!DOCTYPE html>
<html>
    <head> 
        <meta charset=utf-8 />
        <title> {% if page.title %} {{ page.title }} | {% endif %} Voxelgon </title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="main">
            <header>
                <h1> Voxelgon </h1>
            </header>

            <nav role="navigation">
                <ul>
                    <li>
                        <a class="navbutton" href="/">
                            Home 
                        </a>
                    </li>
                    <li>
                        <a class="navbutton" href="/">
                            About
                        </a>
                    </li>
                </ul>
            </nav>

            <br><hr>

            {{ content }} 

            <footer>
                <!TODO: add footer with links n stuff>
            </footer>

        </div>
        <div id="background"></div>
    </body>
</html>
